[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
ipython = "*"
mypy = "*"
pydocstyle = "*"
pytest = "*"
flake8 = "*"
isort = "*"
autoflake = "*"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
